{{- $scope := index . 0 -}}
{{- $inline := default false (index . 1) -}}
{{- $width := default 660 (index . 2) -}}

{{- with $scope.Site.Params.integrations.salonized -}}
	{{- $color := default "#ff50b3" .color -}}

	{{- if $inline -}}
		<noscript>{{- T "salonized.no_script" $scope -}}</noscript>
	{{- end -}}


	<div
		class="salonized-booking"
		data-company="{{- .company_id -}}"
		data-language="{{- $scope.Site.Language -}}"
		data-inline="{{- $inline -}}"
		data-width="{{- $width -}}"
		data-color="{{- $color -}}"
	></div>
{{- end -}}
