{{- $scratch := .Scratch -}}
{{- with "cdnjs.cloudflare.com" -}}
	{{- if not ($scratch.Get .) -}}
		{{- $scratch.Set . true -}}
		<link rel="preconnect" href="https://{{- . -}}" />
	{{- end -}}

	{{- with printf "https://%s/ajax/libs/domready/1.0.8/ready.min.js" . -}}
		<script
			src="{{- . -}}"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
			integrity="sha512-CmuXZEa0h07jf0Wf7i+tFmAtYm4TNbDB5dsNRKB198hgozfj3rnv6FoGhaoC+Y4QHXLD6aKDFE1ZYRWNSF8BYw=="
		></script>
	{{- end -}}
{{- end -}}
